extends layout

block content
    h1 Hello, visitor from #{ip}
    
    p
      ul
        for views in page_views
          li #{views._id}, #{views._source.visitor_id}, #{views._source.visitor_name}, #{views._source.ip}
    
    
    
    
    
    
    
    
    
    
    
    
    
    
